/*
    nav color: #512DA8
*/

body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: black;
}

nav {
    background-color: #512DA8;
    width: 30%;
    height: 100%;
    float: left;
    color: white;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
}

nav div {
    font-size: 30px;
}

.navList {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    padding: 0px;
}

.navList li {
    list-style: none;
    padding: 5px 0px 5px 15px;
}

.clickedItem {
    background-color: #6d47c7;
}

.navList a {
    text-decoration: none;
    color: white;
}

section {
    float: right;
    width: 70%;
    height: auto;
    color: white;
    padding: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#titleContainer {
    align-content: center;
}

#titleContainer h1 {
    padding: 0px 0px 0px 30px;
}

#contentTitleContainer {
    padding: 0px 0px 10px 40px;
    font-size: 20px;
}

.calculationContainer {
    padding: 10px 30px 10px 30px;
    background-color: #363636;
    margin: 0px 20px 10px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.calContainer {
    padding: 10px 30px 10px 30px;
    background-color: #363636;
    margin: 0px 20px 10px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.selectionContainer {
    padding: 10px 30px 10px 30px;
    background-color: #363636;
    margin: 0px 20px 10px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.calculation {
    flex-direction: row; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.calculation h4 {
    margin: 0px;
    text-align: center;
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkboxContainer div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userInput {
    height: 20px;
    font-size: 18px;
    width: 100px;
}

.largeInput {
    height: 20px;
    font-size: 18px;
    width: 150px;
}

#split {
    height: 30px;
    width: 3px;
    background-color: white;
}

.error-text {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    align-self: center;
}

.calculationE {
    flex-direction: row; 
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

.calculationE h4 {
    margin: 0px;
    text-align: center;
}

.calculationE div h4{
    margin: 0px;
    text-align: center;
}